<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/User.css') }}">
</head>

<body>
    <header>
        <form role="search" action="/plot">
            <label type="select" name="search_type" class="form"></label>
            <select name="search_type" class="select">
                <option value="symbol">Symbol</option>
                <option valye="index">Index</option>
            </select>
            <input type="search" name="src" class="form-control" placeholder="Find Stocks/Index..." aria-label="Search">
            <button class="btn btn-primary" type="submit"> Search</button>
        </form>
        <div class="user-profile">
            <img src="/static/images/stock@india.jpeg" alt="User Profile" class="profile-icon" href="/profile">
        </div>
    </header>
    <div class="top">
        <section id="index">
            <h1>Indices</h1>
            <div class="row">
                <a class="clickable-box" value="NIFTY 50" href="/plot?src=NIFTY 50&search_type=index">
                    <h4>NIFTY 50</h4>
                </a>
                <a class="clickable-box" value="NIFTY NEXT 50" href="/plot?src=NIFTY NEXT 50&search_type=index">
                    <h4>NIFTY NEXT 50</h4>
                </a>
                <a class="clickable-box" value="NIFTY BANK" href="/plot?src=NIFTY BANK &search_type=index">
                    <h4>NIFTY BANK</h4>
                </a>
                <a class="clickable-box" value="NIFTY MIDCAP SELECT"
                    href="/plot?src=NIFTY MIDCAP SELECT &search_type=index">
                    <h4>NIFTY MIDCAP SELECT</h4>
                </a>
                <a class="clickable-box" value="NIFTY FINANCIAL SERVICES" href="/plot?src=FINNIFTY &search_type=index">
                    <h4>NIFTY FINANCIAL SERVICES</h4>
                </a>
                <p style="opacity: 0.5;">Search for more...</p>
            </div>
        </section>
        <section id="symbol">
            <h1>Stocks</h1>
            <div class="row">
                <a class="clickable-box " href="/plot?src=SBIN&search_type=symbol">
                    <h4>SBIN</h4>
                </a>
                <a class="clickable-box " href="/plot?src=HDFCBANK&search_type=symbol">
                    <h4>HDFC</h4>
                </a>
                <a class="clickable-box " href="/plot?src=ADANIPORTS&search_type=symbol">
                    <h4>ADANIPORTS</h4>
                </a>
                <a class="clickable-box " href="/plot?src=HFCL&search_type=symbol">
                    <h4>HFCL</h4>
                </a>
                <a class="clickable-box " href="/plot?src=IRFC&search_type=symbol">
                    <h4>IRFC</h4>
                </a>
                <p style="opacity: 0.5;">Search for more....</p>
            </div>
        </section>
    </div>
    <div class="panel">
        <h1>Features</h1>
        <div style="margin-left:50px">
            <a class="search-stocks icon clickable-box features" href="/search">
                <i class="fas fa-search"></i>
                <p>Search Stocks</p>
            </a>

            <a class="compare-stocks icon clickable-box features" href="/user">
                <i class="fas fa-chart-bar"></i>
                <p>Compare Stocks</p>
            </a>
            <a class="filter-stocks icon clickable-box features" href="/get_filters">
                <i class="fas fa-filter"></i>
                <p>Filter Stocks</p>
            </a>
            <a class="watchlist icon clickable-box features" href="/watchList">
                <i class="fas fa-eye"></i>
                <p>Watchlist</p>
            </a>
        </div>
    </div>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</body>

</html>